.wrapper {
    display: block;
    position: relative;
    height: unset !important;

    span {
        position: unset !important;
    }
}

.imglazy {
    opacity: 0;
    transition: opacity 0.3s linear;

    &.loaded {
        opacity: 1;
    }
}