.auth {
    height: 100%;
    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .auth_content {
        display: flex;
        row-gap: 24px;
        flex-direction: column;
    }

    .auth_header {
        h3 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 0;
        }

        p {
            color: $gray;
        }
    }

    .auth_social {
        button {
            margin: 0 12px;
        }
    }

    .devide_line {
        width: 450px;
        height: 1px;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 32px;
        position: relative;
        background-color: $light-gray;

        @include maxResponsive('small') {
            width: 95%;
        }

        p {
            top: 50%;
            left: 50%;
            font-size: 12px;
            padding: 3px 6px;
            position: absolute;
            background-color: $white;
            transform: translate(-50%, -50%);
        }
    }

    .auth_action {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .action_contact {
            a {
                padding: 12px;
            }
        }
    }
}